includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database
    databaseMigrationsPath:
        - database/migrations
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    noUnnecessaryCollectionCallOnly: ['count', 'first']
